body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    text-align: center;

}
.abc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}